extends ../layout

block content
    .container
        h1.text-center #{title}

        .col-md-2
        .col-md-8.form-section
          form.form-horizontal(role='form', action="/students",method="post")
            .form-group
                label.col-sm-4.control-label(for="name") Email address
                .col-sm-6
                    input.form-control(type='text', placeholder="ex. John Doe", name="name")
            .form-group
                label.col-sm-4.control-label(for="roll") Roll
                .col-sm-6
                    input.form-control(type='number', placeholder="ex. 161505", name="roll")
            .form-group
                label.col-sm-4.control-label(for="batch") Batch
                .col-sm-6
                    select(id="batch", name="batch")
                        -for(var i = 1;i<=16;i++){
                        option(value="#{i}") #{i}
                        -}
            .form-group
                label.col-sm-4.control-label(for="session") Session
                .col-sm-6
                    input.form-control(type='text', placeholder="ex. 2016-17", name="session")
            .form-group
                label.col-sm-4.control-label(for="gender") Gender
                .col-sm-6
                    select(id="gender", name="gender")
                        option(value="Male") Male
                        option(value="Female") Female
            .form-group
                label.col-sm-4.control-label(for="doa") Date of admission
                .col-sm-6
                    input.form-control(type='date', placeholder="ex. 2015-31-11", name="doa")

            button.btn.btn-primary.submit-btn(type='submit') Submit Information
        .col-md-2
            