extends ../layout

block content
    h1.
        #{title}
    form#formAddStudent(name="addstudent",method="post",action="/students")
        p Name: 
            input#inputName(type="text", placeholder="ex. John Doe", name="name")
        p Roll:
            input#inputBadge(type="number", placeholder="ex. 123456", name="badge")
        p DOA: 
            input#inputDoa(type="date", name="doa")
        p Are You Loved?: 
            input#inputIsLoved(type="checkbox", name="isloved")
        p
            button#btnSubmit(type="submit") submit